@import "../../../../shared/styles/shared.scss";

.wallet-container {
  @include flex-full;
  padding-top: 3rem;
  gap: 5rem;
  color: $white;

  .background-image {
    content: "";
    background-image: url("../../../../../assets/imgs/account-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(0.2rem);
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .available {
    @include flex-align;
    gap: 2rem;

    .balance-data {
      @include flex-full;
      h2 {
        font-size: 3rem;
      }
      &__amount {
        font-size: 2.5rem;
      }
    }

    .my-coins {
      th,
      td {
        font-size: 1.5rem;
      }
    }
  }

  .buy-sell__container {
    .buy-sell {
      display: flex;
      align-items: center;
      gap: 2rem;
      .form-group__a,
      .form-group__b {
        @include flex-full;
        gap: 1.8rem;
      }

      .form-group__wrapper__a,
      .form-group__wrapper__b {
        @include flex-column;
        align-items: center;
        gap: 0.5rem;
      }
      .form-group__a {
        #usdAmount,
        #cryptoType {
          width: 10rem;
          height: 1.733rem;
        }
      }

      label {
        font-size: 1.5rem;
      }

      .wallet-btn {
        font-size: 1.2rem;
        padding: 0.5rem 2rem;
        color: $white;
        border-radius: 1rem;
        border: none;
      }

      .btn-buy {
        background-color: $btn;
        cursor: pointer;
        &:hover {
          background-color: $btn-hover;
        }
      }

      .btn-sell {
        background-color: $delete;
        cursor: pointer;
        &:hover {
          background-color: $delete-hover;
        }
      }
    }
  }

  .record {
    @include flex-full;
    gap: 0.5rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  .crypto-table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: 0.1rem solid $border;
      padding: 0.8rem;
      text-align: center;
      font-size: 1.2rem;
    }

    th {
      background-color: $main;
      color: $white;
    }
  }
}
