<div class="wallet-container">
  <h2>balance</h2>
  <div>{{ accountBalance }}</div>

  <form>
    <div class="form-group">
      <label for="usdAmount">Enter USD Amount:</label>
      <input
        type="number"
        id="usdAmount"
        [(ngModel)]="usdAmount"
        name="usdAmount"
        required
      />
    </div>

    <div class="form-group">
      <label for="cryptoType">Select Cryptocurrency:</label>
      <select
        id="cryptoType"
        [(ngModel)]="selectedCrypto"
        name="selectedCrypto"
      >
        <option *ngFor="let crypto of cryptocurrencies" [value]="crypto.symbol">
          ({{ crypto.symbol }})
        </option>
      </select>
    </div>
  </form>

  <div class="form-group">
    <button (click)="buyCryptocurrency()">Buy</button>
  </div>

  <div class="form-group">
    <button (click)="sellCryptocurrency()">Sell</button>
  </div>
</div>
