<div class="top-bar">
  <div class="top-bar__actions" [ngClass]="{ open: isMenuOpen }">
    <img
      class="crypto-img"
      src="../../../../assets/imgs/Bitcoin.png"
      alt="crypto logo"
      *ngIf="!authService.isLoggedIn()"
    />
    <a
      class="account"
      [routerLink]="['/account']"
      routerLinkActive="active"
      *ngIf="authService.isLoggedIn()"
    >
      Account
    </a>
    <a
      class="market"
      [routerLink]="['/market']"
      routerLinkActive="active"
      *ngIf="authService.isLoggedIn()"
    >
      Market
    </a>
    <a
      class="deposit"
      [routerLink]="['/deposit']"
      routerLinkActive="active"
      *ngIf="authService.isLoggedIn()"
      >Deposit</a
    >
    <a
      class="wallet"
      [routerLink]="['/wallet']"
      routerLinkActive="active"
      *ngIf="authService.isLoggedIn()"
      >Wallet</a
    >
  </div>
  <div class="top-bar__actions" [ngClass]="{ open: isMenuOpen }">
    <a
      class="home"
      [routerLink]="['/home']"
      routerLinkActive="active"
      *ngIf="!authService.isLoggedIn()"
      >Home</a
    >
    <a
      class="login"
      [routerLink]="['/login']"
      routerLinkActive="active"
      *ngIf="!authService.isLoggedIn()"
      >Login</a
    >
    <a
      class="sign-up"
      [routerLink]="['/sign-up']"
      routerLinkActive="active"
      *ngIf="!authService.isLoggedIn()"
      >Sign Up</a
    >
    <a
      class="logout"
      [routerLink]="['/logout']"
      *ngIf="authService.isLoggedIn()"
      >Logout</a
    >
  </div>
  <label for="check" class="check-btn">
    <i class="fa-solid fa-bars fa-lg" (click)="toggleMenu()"></i>
  </label>
</div>
