<div class="account-container">
  <div class="background-image"></div>
  <div
    *ngFor="let user of loggedInUsers"
    class="account-details"
    (click)="goToDeposit()"
  >
    <h2 class="heading">User</h2>
    <p>{{ user.nickname }}</p>
  </div>

  <div class="logged-in__user">
    <table>
      <thead>
        <tr>
          <th>User ID</th>
          <th>Email</th>
          <th>Password</th>
          <th>Nickname</th>
          <th>Phone Number</th>
          <th>Delete</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of loggedInUsers">
          <td>{{ user.id }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.nickname }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>
            <button class="btn-delete" (click)="deleteUser(user)">
              Delete
            </button>
          </td>
          <td>
            <button class="btn-edit" (click)="edit(user)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngFor="let user of loggedInUsers" class="edit-data__container">
      <input
        class="edit-field"
        *ngIf="isEditing && editingUser === user"
        type="text"
        placeholder="What to edit?"
        [(ngModel)]="propertyToEdit"
      />

      <div class="edit-wrapper" *ngIf="isEditing && editingUser === user">
        <input
          class="edit-field-secondary"
          *ngIf="propertyToEdit === 'email'"
          type="text"
          placeholder="New Email"
          [(ngModel)]="newProperty"
        />
        <input
          class="edit-field-secondary"
          *ngIf="propertyToEdit === 'password'"
          type="password"
          placeholder="New Password"
          [(ngModel)]="newProperty"
        />
        <input
          class="edit-field-secondary"
          *ngIf="propertyToEdit === 'password'"
          type="password"
          placeholder="New Confirm Password"
          [(ngModel)]="newConfirmPassword"
          [ngStyle]="{ 'border-color': passwordsMatch ? '' : 'red' }"
        />
        <input
          class="edit-field-secondary"
          *ngIf="propertyToEdit === 'nickname'"
          type="text"
          placeholder="New Nickname"
          [(ngModel)]="newProperty"
        />
        <input
          class="edit-field-secondary"
          *ngIf="propertyToEdit === 'phonenumber'"
          type="text"
          placeholder="New Phone Number"
          [(ngModel)]="newProperty"
        />
        <input
          class="edit-field-secondary"
          *ngIf="propertyToEdit === 'website'"
          type="text"
          placeholder="New Website"
          [(ngModel)]="newProperty"
        />
        <button class="save-btn" (click)="saveEditProperty(newProperty)">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
