<div class="account-container">
  <div class="background-image"></div>
  <div
    *ngFor="let user of loggedInUsers"
    class="account-details"
    (click)="goToDeposit()"
  >
    <h2 class="heading">User</h2>
    <p>{{ user.nickname }}</p>
  </div>

  <div class="logged-in__user">
    <table>
      <thead>
        <tr>
          <th>User ID</th>
          <th>Email</th>
          <th>Password</th>
          <th>Nickname</th>
          <th>Phone Number</th>
          <th>Delete</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of loggedInUsers">
          <td>{{ user.id }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.nickname }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>
            <button class="btn-delete" (click)="deleteUser(user)">
              Delete
            </button>
          </td>
          <td>
            <button class="btn-edit">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
