<div class="coin-details-container">
  <div class="coin-details__a">
    <div class="coin-image">
      <img [src]="coinData?.image?.large" alt="Coin Image" />
    </div>
    <div class="coin-basic-info">
      <h1>{{ coinData?.name }} ({{ coinData?.symbol }})</h1>
      <p>{{ coinData?.description?.en }}</p>
    </div>
  </div>

  <!-- Coin Details (Left Side) -->
  <div class="coin-details__b">
    <div class="coin-detail">
      <h2>Community Score</h2>
      <p>{{ coinData?.community_score }}</p>
    </div>
    <div class="coin-detail">
      <h2>Market Cap Rank</h2>
      <p>{{ coinData?.market_cap_rank }}</p>
    </div>
    <div class="coin-detail">
      <h2>Liquidity Score</h2>
      <p>{{ coinData?.liquidity_score }}</p>
    </div>
    <div class="coin-detail">
      <h2>Hashing Algorithm</h2>
      <p>{{ coinData?.hashing_algorithm }}</p>
    </div>
    <div class="coin-detail">
      <h2>Public Interest Score</h2>
      <p>{{ coinData?.public_interest_score }}</p>
    </div>
  </div>
</div>
