<div class="coin-details__container">
  <div class="background-image"></div>
  <div class="coin-details__a">
    <div class="coin-main">
      <img [src]="coinData?.image?.large" alt="Coin Image" />
      <div class="coin-main__text">
        <p>{{ coinData?.name }}</p>
        <div>({{ coinData?.symbol | uppercase }})</div>
      </div>
    </div>
    <div class="coin-secondary">
      <h2>Community Score</h2>
      <p>{{ coinData?.community_score }}</p>

      <h2>Market Cap Rank</h2>
      <p>{{ coinData?.market_cap_rank }}</p>

      <h2>Liquidity Score</h2>
      <p>{{ coinData?.liquidity_score }}</p>

      <h2>Hashing Algorithm</h2>
      <p>{{ coinData?.hashing_algorithm }}</p>

      <h2>Public Interest Score</h2>
      <p>{{ coinData?.public_interest_score }}</p>
    </div>
  </div>

  <div class="coin-details__b">
    <p>{{ coinData?.description?.en }}</p>
  </div>
</div>
