@import "../../../../shared/styles/shared.scss";

.coin-details__container {
  height: 100%;
  width: 100%;
  @include flex-align-justify;
  color: $white;

  .background-image {
    content: "";
    background-image: url("../../../../../assets/imgs/account-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(0.2rem);
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .coin-details__a {
    @include flex-column;
    gap: 3rem;
    justify-content: center;

    .coin-main {
      @include flex-align;
      gap: 1rem;
      img {
        width: 7rem;
      }
      .coin-main__text {
        font-size: 2.4rem;
        font-weight: 500;
      }
    }

    .coin-secondary {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 0.5rem;
      column-gap: 1.2rem;
      font-size: 1.2rem;
      p {
        font-size: 1.5rem;
      }
    }
  }

  .coin-details__b {
    width: 20rem;
    height: 35%;
    padding: 0.5rem;
    p {
      font-size: 0.9rem;
      font-style: italic;
    }
  }
}
