<div class="home">
  <div class="header">
    <h2 class="main-heading">Cryptocurrency Prices</h2>
    <h6 class="secondary-heading">Check top Cryptocurrency Prices</h6>
  </div>
  <div class="sub-header">
    <div class="crypto-grid">
      <ng-container *ngFor="let item of trendingData; let i = index">
        <div class="crypto-item">
          <img [src]="item.image" alt="Crypto Logo" />
          <p class="crypto-symbol">{{ item.symbol | uppercase }}</p>
          <p class="crypto-price">
            {{ item.current_price | currency : "USD" }}
          </p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
